# Python
__pycache__/
*.py[cod]
*$py.class

# Pipenv
# Pipfile.lock # I am gonna show this for showing sake

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Logs
*.log

# Temporary files
tmp_*